.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.feature {
  border-radius: 0.5rem;
  background-color: var(--cycle-accent-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  cursor: pointer;
  align-items: center;
  font-size: 1.2rem;
}

.featureButton {
  margin: 0.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--cycle-blue);
  padding: 0.5rem 0.75rem;
  background-color: var(--cycle-blue);
  color: white !important;
  text-align: center; /* Center the text inside the button */
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s; /* Smooth background color transition on hover */
  font-size: 0.875rem;
}

.featureButton:hover {
  color: var(--cycle-black) !important;
}

.featureButtonInverted {
  margin: 0.5rem;
  background-color: var(--cycle-accent-black);
  border: 1px solid var(--cycle-blue);
  color: white !important;
}

.featureButtonInverted:hover {
  background-color: var(--cycle-blue) !important;
  color: var(--cycle-black) !important;
}

.featureTitle {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.featureDescription {
  margin-bottom: 0.5rem;
}

.featureSvg {
  height: 24px;
  margin-bottom: 1rem;
  width: 31px;
  fill: var(--cycle-blue);
}


@media screen and (max-width: 1800px){
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1357px) {
  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }
}


