.features {
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.feature {
  border-radius: 0.5rem;
  background-color: var(--cycle-black-accent);
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Adjust padding as needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* This creates a subtle shadow around the card */
  transition: 0.3s; /* Adds a smooth transition for hover effects */
  cursor: pointer;

  align-items: center;
  
}

.featureButton {
  margin: 0.5rem;
  padding: 0.5rem 1rem; /* Provide some space inside the button */
  background-color: var(--cycle-blue);
  border: none;
  color: white !important;
  text-align: center; /* Center the text inside the button */
  text-decoration: none;
  display: inline-block;
  
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.featureButton:hover {
  color: var(--cycle-black) !important;
}

.featureButtonInverted {
  margin: 0.5rem;
  background-color: var(--cycle-black-accent);
  border: 1px solid var(--cycle-blue);
  color: white !important;
}

.featureButtonInverted:hover {
  background-color: var(--cycle-blue) !important;
  color: var(--cycle-black) !important;
}

.featureTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.featureDescription {
  margin-bottom: 0.5rem;
}

.featureSvg {
  height: 24px;
  margin-bottom: 1rem;
  width: 31px;
  fill: var(--cycle-blue);
}

@media screen and (max-width: 966px) {
  .features {
    justify-content: center;
  }
  .feature {
    margin: 2rem 0;
    height: auto;
  }
}
