@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "Source Sans Pro";
    src: url("/static/fonts/ssp-regular.ttf") format("truetype"),
      url("/static/fonts/ssp-bold.ttf") format("truetype"),
      url("/static/fonts/ssp-black.ttf") format("truetype");
  }

  html {
    @apply text-body;
  }
  @screen lg {
    html {
      @apply text-body-lg;
    }
  }

  body {
    @apply bg-cycle-black-accent text-cycle-gray-light;
  }

  p {
    @apply mb-4 text-base;
  }

  * {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
  }

  a {
    @apply text-cycle-blue cursor-pointer !no-underline hover:text-cycle-blue-accent font-semibold;
  }

  h1 {
    @apply font-extrabold text-6xl mb-4;
  }

  h2 {
    @apply font-bold text-4xl mb-3;
  }

  h3 {
    @apply font-bold text-3xl mb-2;
  }

  h4 {
    @apply font-bold text-2xl mb-2;
  }

  h5 {
    @apply font-bold text-xl mb-2;
  }

  h6 {
    @apply font-bold text-lg mb-2;
  }

  i {
    @apply text-cycle-blue font-bold px-1;
  }

  @layer base {
    .border-color {
      @apply border-cycle-gray;
    }
  }

  nav a {
    @apply text-cycle-white hover:text-cycle-blue;
  }
}
